.bg-banner {
  background-image: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.233)),
    url("https://images.unsplash.com/photo-1595013694368-aab1b4f70dcd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2001&q=80");
  height: 600px;
  background-size: cover;
  color: white;
  background-attachment: fixed;
  scroll-behavior: smooth;
}
